<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>年号早見表</title>
  <style>
    .scrollable-table {
      overflow-x: auto;
      white-space: nowrap;
    }
    table {
      border-collapse: collapse;
      width: 100%;
    }
    th, td {
      border: 1px solid black;
      padding: 2px; /* 枠を文字ぎりぎりにするためにパディングを小さくする */
      text-align: center; /* 文字をセンター表示 */
      white-space: nowrap; /* テキストの折り返しを防ぐ */
    }
    .reiwa {
      color: green;
    }
    .heisei {
      color: blue;
    }
    .showa {
      color: red;
    }
    .taisho {
      color: purple;
    }
    .meiji {
      color: orange;
    }
  </style>
</head>
<body>
  <h1>年号早見表</h1>
  <div class="scrollable-table">
    <table>
      <tr>
        <th>西暦</th>
        <th>和暦</th>
        <th>西暦</th>
        <th>和暦</th>
        <th>西暦</th>
        <th>和暦</th>
      </tr>
      <% @years.each_slice(3) do |year_slice| %>
        <tr>
          <% year_slice.each do |year| %>
            <% if year.wareki.include?("令和") %>
              <td class="reiwa"><%= year.seireki %></td>
              <td class="reiwa"><%= year.wareki %></td>
            <% elsif year.wareki.include?("平成") %>
              <td class="heisei"><%= year.seireki %></td>
              <td class="heisei"><%= year.wareki %></td>
            <% elsif year.wareki.include?("昭和") %>
              <td class="showa"><%= year.seireki %></td>
              <td class="showa"><%= year.wareki %></td>
            <% elsif year.wareki.include?("大正") %>
              <td class="taisho"><%= year.seireki %></td>
              <td class="taisho"><%= year.wareki %></td>
            <% elsif year.wareki.include?("明治") %>
              <td class="meiji"><%= year.seireki %></td>
              <td class="meiji"><%= year.wareki %></td>
            <% else %>
              <td><%= year.seireki %></td>
              <td><%= year.wareki %></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
</body>
</html>
